<footer class="footer mt-auto">
    <div id="footerContainer" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-10 offset-1 col-lg-5 offset-lg-0 mb-5 mb-lg-0">
                    <p class="fw-bold">About</p>
                    <hr>
                    <p class="footerCopyright">Copyright &copy; 2022 Zhou Ziheng, All Rights Reserved</p>
                    <p>
                        RateMyGym is a fullstack CRUD (Create, Read, Update, Delete) web app built using Node.js,
                        Express, and MongoDB.
                    </p>
                    <p>
                        Made with love by Zhou Ziheng over many weekends.
                    </p>
                </div>
                <div id="footerQuicklinks" class="col-5 offset-1 col-lg-3 offset-lg-1">
                    <p class="fw-bold">Quick Links</p>
                    <hr>
                    <ul class="list-unstyled">
                        <li class="my-3"><a href="/">Home</a></li>
                        <li class="my-3"><a href="/gyms">Browse all</a></li>
                        <li class="my-3"><a href="/gyms/random">Browse random</a></li>
                        <li class="my-3"><a href="/gyms/new">Create new</a></li>
                        </li>
                    </ul>
                </div>
                <div id="footerContact" class="col-5 col-lg-3">
                    <p class="fw-bold">Get In Touch</p>
                    <hr>
                    <ul class="list-unstyled">
                        <li class="my-3"><a href="mailto:zhou.ziheng@outlook.com"><i class="bi bi-envelope-fill"></i>
                                Email</a></li>
                        <li class="my-3"><a href="https://www.linkedin.com/in/zhou-ziheng/" target="_blank"><i
                                    class="bi bi-linkedin"></i> LinkedIn</a></li>
                        <li class="my-3"><a href="https://github.com/zorridge" target="_blank"><i
                                    class="bi bi-github"></i>
                                Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>