<% layout('layouts/boilerplate') -%>

<h1>All Gyms</h1>
<div>
    <a href="/gyms/new">Add new gym</a>
</div>
<ul>
    <% for( let gym of gyms ) { %>
    <li><a href="/gyms/<%= gym._id %>"><%= gym.title %></a></li>
    <% } %>
</ul>