<% layout('layouts/boilerplate') -%>

<h1><%= gym.title %></h1>
<h2><%= gym.location %></h2>
<div>
    <form action="/gyms/<%= gym._id %>?_method=DELETE" method="POST">
        <button>Delete Gym</button>
    </form>
</div>
<footer>
    <a href="/gyms">Back to home</a>
    <a href="/gyms/<%= gym._id %>/edit">Edit info</a>
</footer>