<% layout('layouts/boilerplate') -%>

<h1>Login</h1>
<form action="/login" method="POST" class="needs-validation" novalidate>
    <div class="form-floating mb-3">
        <input class="form-control" type="text" name="username" id="username" placeholder="Username" autocomplete="off"
            required>
        <label class="form-label" for="username">Username</label>
        <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" type="password" name="password" id="password" placeholder="Password"
            autocomplete="off" required>
        <label class="form-label" for="password">Password</label>
        <div class="valid-feedback">Looks good!</div>
    </div>
    <button class="btn btn-success">Login</button>
</form>